
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background: #f5f5dc;
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #f5f5dc;
    overflow: hidden;
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: transparent;
    animation: animate 25s linear infinite;
    bottom: -150px;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 20px;
}

.background li:nth-child(1) {
    left: 25%;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    font-size: 80px;
    color: #FFC107;
}


.background li:nth-child(2) {
    left: 10%;
    width: 40px;
    height: 40px;
    animation-delay: 2s;
    animation-duration: 12s;
    font-size: 30px;
    color: #FF5722;
}

.background li:nth-child(3) {
    left: 70%;
    width: 40px;
    height: 40px;
    animation-delay: 4s;
    font-size: 30px;
    color: #4CAF50;
}

.background li:nth-child(4) {
    left: 40%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
    animation-duration: 18s;
    font-size: 70px;
    color: #2196F3;
}

.background li:nth-child(5) {
    left: 65%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    font-size: 50px;
    color: #E91E63;
}

.background li:nth-child(6) {
    left: 75%;
    width: 150px;
    height: 150px;
    animation-delay: 3s;
    font-size: 100px;
    color: #9C27B0;
}

.background li:nth-child(7) {
    left: 35%;
    width: 180px;
    height: 180px;
    animation-delay: 7s;
    font-size: 120px;
    color: #00BCD4;
}

.background li:nth-child(8) {
    left: 50%;
    width: 50px;
    height: 50px;
    animation-delay: 15s;
    animation-duration: 45s;
    font-size: 40px;
    color: #F44336;
}

.background li:nth-child(9) {
    left: 20%;
    width: 50px;
    height: 50px;
    animation-delay: 2s;
    animation-duration: 35s;
    font-size: 45px;
    color: #8BC34A;
}

.background li:nth-child(10) {
    left: 85%;
    width: 180px;
    height: 180px;
    animation-delay: 0s;
    animation-duration: 11s;
    font-size: 120px;
    color: #03A9F4;
}

.background li:nth-child(11) {
    left: 5%;
    width: 100px;
    height: 100px;
    animation-delay: 5s;
    animation-duration: 20s;
    font-size: 70px;
    color: #FF9800;
}

.background li:nth-child(12) {
    left: 90%;
    width: 80px;
    height: 80px;
    animation-delay: 8s;
    animation-duration: 15s;
    font-size: 60px;
    color: #673AB7;
}

.background li:nth-child(13) {
    left: 15%;
    width: 120px;
    height: 120px;
    animation-delay: 10s;
    animation-duration: 22s;
    font-size: 80px;
    color: #CDDC39;
}


@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.app {
    position: relative;
    background: rgba(198, 142, 23, 0.5);
    width: 90%;
    max-width: 400px;
    min-height: 400px;
    margin: 80px auto 0;
    border-radius: 10px;
    padding: 0;
    border: 1px solid #ccc;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 35px;
    color: #654321;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}

.app h2 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
    color: #654321;
    font-weight: 700;
    text-align: center;
    padding: 10px 20px;
}

.app p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #654321;
    text-align: center;
    padding: 0 20px 20px;
}

.app .fa-clipboard-question {
    font-size: 50px;
    color: #654321;
    padding-bottom: 20px;
}

.start-button {
    background-color: #F5F5DC;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    color: #654321;
    font-weight: bold;
    border: 1px solid #654321;
    font-family: 'Luckiest Guy', cursive;
}
